body {
  height: 100%;
  margin: 0;
  background-color: #84a98c; /* Verde Mar Oscuro */
}

.App {
  text-align: center;
  min-height: 100vh; /* Hace que ocupe al menos la altura completa de la pantalla */
  background-color: #84a98c; /* Asegura que el color cubra todo el fondo */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #52796f; /* Pizarra Oscura */
  width: 100%; /* El header ocupa todo el ancho */
  padding: 20px 0;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

.login-container {
  background-color: #f7f2e8; /* Color Crema */
  padding: 40px;
  padding-top: 20px;
  margin: 20px auto;
  border-radius: 12px; /* Borde redondeado */
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

h2 {
  color: #354f52; /* Pizarra Profunda */
}

.input-container {
  margin-bottom: 15px;
  text-align: left;
}

input {
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.login-button {
  background-color: #84a98c; /* Verde Mar Oscuro */
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.login-button:hover {
  background-color: #52796f;
}

.create-account-button {
  background-color: transparent;
  color: #52796f;
  border: none;
  margin-top: 20px;
  font-size: 16px;
  cursor: not-allowed;
  text-decoration: underline;
}






